.screens {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: clip;
}

.screen {
  position: absolute;
  inset: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.screen.active,
.screen.leaving {
  opacity: 1;
  visibility: visible;
}

.screen.active {
  pointer-events: auto;
}

.screen.leaving {
  pointer-events: none;
}
