.screens {
  min-height: 100svh; /* вместо height:100% */
  width: 100%;

  display: grid; /* ключ */
  overflow: clip; /* можно clip */
}

.screen {
  grid-area: 1 / 1; /* все экраны в одну ячейку (оверлей) */

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* никаких position:absolute */
}

.screen.active,
.screen.leaving {
  opacity: 1;
  visibility: visible;
}

.screen.active {
  pointer-events: auto;
}

.screen.leaving {
  pointer-events: none;
}
