@use "./breakpoints.scss" as *;

/* ===== Base reset ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  overflow-x: hidden;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Vue root */
#app {
  min-height: 100dvh;
}

/* Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Remove tap highlight on iOS */
* {
  -webkit-tap-highlight-color: transparent;
}
