.section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.section__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.section__footer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
